.article {
  img {
    object-position: top;
  }
  thead tr,
  tbody tr {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 2rem;
  }
  tr {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;

    @media (max-width: 49em) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  table {
    display: block;
    overflow: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  tbody tr {
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  th,
  td {
    display: block;
    min-width: 36rem;
    text-align: left;

    @media (min-width: 49.01em) {
      min-width: 25rem;
    }
  }
  li,
  p {
    font-size: 2.2rem;
    max-width: 90rem;
    line-height: 140%;

    @media (max-width: 49em) {
      font-size: 3rem;
    }
  }
  p {
    max-width: none;
    opacity: 0.7;
  }
  h3 {
    font-size: 2.8rem;
  }
  ol,
  ul {
    padding: 0;
    margin: 0;
  }
  ol,
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    list-style: inside;

    @media (max-width: 49em) {
      row-gap: 2rem;
    }
  }
  li {
    list-style: inside;
  }
  // .article__container

  &__container {
    &.container {
      padding-top: 22rem;

      display: flex;
      flex-direction: column;
      row-gap: 13rem;
      width: 100rem;

      @media (max-width: 49em) {
        padding-top: 24rem;

        width: 100%;
      }
    }
  }

  &__breadcrumbs {
    margin-bottom: 8rem;

    @media (max-width: 49em) {
      margin-bottom: 10rem;
    }
  }

  // .article__head

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  // .article__heading

  &__heading {
    margin-bottom: 4rem;

    @media (max-width: 49em) {
      margin-bottom: 8rem;
    }
  }

  // .article__tags

  &__tags {
    margin-bottom: 8rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width: 49em) {
      margin-bottom: 10rem;

      gap: 2rem;
    }
  }

  // .article__tag

  &__tag {
  }

  // .article__image-wrap

  &__image-wrap {
    margin-bottom: 2rem;

    width: 100%;

    @media (max-width: 49em) {
      margin-bottom: 4rem;
    }
  }

  // .article__image

  &__image {
    border-radius: var(--p-radius);
    height: 47rem;

    object-fit: cover;

    @media (min-width: 49.01em) {
      height: 63rem;
    }
  }

  // .article__txt

  &__txt {
    opacity: 0.7;
  }

  // .article__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 8rem;

    @media (max-width: 49em) {
      row-gap: 10rem;
    }
  }

  // .article__group

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: var(--p-row-gap);
  }

  // .article__text-wrap

  &__text-wrap,
  &__list-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    @media (max-width: 49em) {
      row-gap: 6rem;
    }
  }

  &__group-heading {
    line-height: 120%;
  }

  // .article__text

  &__text {
    max-width: none;

    opacity: 0.7;
  }

  // .article__list-wrap

  &__list-wrap {
    margin: 2rem 0;
  }

  // .article__list-heading

  &__list-heading {
  }

  // .article__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    list-style: inside;
    li {
      list-style: inside;
    }
    @media (max-width: 49em) {
      row-gap: 2rem;
    }
  }

  // .article__list-item

  &__list-item {
  }
}
