:root {
  // colors
  --c-bg: #161616;
  --c-primary: #ffffff;
  --c-green: #00fa8e;
  --c-gray: #1a1a1a;
  --c-light-gray: #2a2a2a;

  // properties
  --p-radius: 2rem;
  --p-row-gap: 4rem;

  // font family
  --ff-main: 'Nunito Sans';

  // icons
  --i-arr: url('data:image/svg+xml,<svg  viewBox="0 0 44 84" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-0.0320472 82.2189C0.00505415 82.6002 0.150835 82.9627 0.387966 83.2635C0.625098 83.5643 0.943608 83.7907 1.30564 83.9158C1.66767 84.0408 2.058 84.0593 2.43024 83.969C2.80247 83.8787 3.14095 83.6835 3.40545 83.4064L33.2492 53.5627C33.4419 53.3794 33.5962 53.1595 33.7029 52.9159C33.8096 52.6723 33.8667 52.4098 33.8708 52.1439C33.8748 51.878 33.8258 51.6139 33.7266 51.3671C33.6274 51.1204 33.48 50.8959 33.2929 50.7068C33.1059 50.5177 32.8831 50.3678 32.6374 50.2658C32.3917 50.1639 32.1282 50.112 31.8623 50.1131C31.5963 50.1142 31.3332 50.1684 31.0885 50.2724C30.8437 50.3765 30.6221 50.5282 30.4367 50.7189L0.561703 80.5939C0.347412 80.8031 0.182812 81.0577 0.0800477 81.3389C-0.0227169 81.6202 -0.061024 81.9209 -0.0320472 82.2189ZM-0.0320472 2.25019C0.031631 2.69096 0.240585 3.09787 0.561703 3.40644L39.1555 42.0002L37.468 43.6877C37.2773 43.8731 37.1255 44.0947 37.0214 44.3394C36.9174 44.5842 36.8633 44.8473 36.8621 45.1132C36.861 45.3792 36.9129 45.6427 37.0148 45.8884C37.1168 46.134 37.2667 46.3569 37.4558 46.5439C37.6449 46.7309 37.8694 46.8784 38.1161 46.9776C38.3629 47.0768 38.627 47.1258 38.8929 47.1217C39.1589 47.1177 39.4213 47.0606 39.6649 46.9539C39.9085 46.8471 40.1284 46.6929 40.3117 46.5002L43.4055 43.4064C43.7756 43.032 43.9832 42.5267 43.9832 42.0002C43.9832 41.4737 43.7756 40.9684 43.4055 40.5939L3.40545 0.593941C3.11415 0.283777 2.73152 0.0745956 2.31318 -0.00320435C1.89484 -0.0810043 1.46259 -0.0233672 1.07926 0.161331C0.695922 0.34603 0.381475 0.648162 0.18162 1.02382C-0.0182354 1.39948 -0.0930838 1.82908 -0.0320472 2.25019Z" fill="white"/></svg>');

  // typography
  --txt-main: 400 1.6rem / 1 var(--ff-main);

  @media (max-width: 49em) {
    --p-row-gap: 5rem;

    --txt-main: 400 3rem / 1.2 var(--ff-main);
  }
}
